:root {
  --silver-sand: #bfc1c2;
  --harlequin: #32d50e;
  --black: #040404;
  --bilbao: #227012;
  --scorpion: #5d5d5d;
  --mine-shaft: #2f2f2f;
  --dark-fern: #082e06;
  --gunsmoke: #7c8484;
  --jumbo: #7c7c84;
  --tuna: #3c3c44;
}
