<!-- Header Section -->
<header
  class="d-flex justify-content-between align-items-center p-3 bg-dark text-white"
>
  <!-- Logo -->
  <div class="logo">
    <img
      src="img/logo.png"
      alt="ghost gaming logo"
      style="height: 10rem; width: 10rem"
    />
  </div>
  <!-- Navigation Links -->
  <nav>
    <a href="index.html" class="text-white">Ghost Events & Gaming</a>
    <a href="login.html" class="text-white ml-3">Log In</a>
    <a href="cart.html" class="text-white ml-3">Cart(0)</a>
  </nav>
</header>

<!-- Login Form Section -->
<div class="container my-5">
  <h2 class="mb-4">Log In</h2>
  <form>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
        required
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" required />
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="rememberMe" />
      <label class="form-check-label" for="rememberMe">Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div class="mt-3">
    <a href="register.html" class="text-primary">Don't have an account? Register
      here</a>
  </div>
</div>

<!-- Footer Section -->
<footer
  class="d-flex justify-content-between align-items-center p-3 bg-dark text-white"
>
  <a
    href="https://www.google.com/maps/dir//ghost+gaming+and+events/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x876c7d607359343f:0x3876c92515834aa7?sa=X&ved=1t:3061&ictx=111"
  >Ghost Events and Gaming, 2120 S Holly St #9, Denver, CO 80222</a>
  <a
    href="“mailto:Ghosteventsandgaming@gmail.com”"
  >Ghosteventsandgaming@gmail.com</a>
  <div>(720) 955-1957</div>
  <div>
    <button
      data-bs-html="true"
      type="button"
      class="btn btn-lg"
      data-bs-toggle="popover"
      data-bs-content="<ul><li>Monday 1-7PM </li> <li>Tuesday 1-7PM </li><li>Wednesday 1-8PM </li><li>Thursday 1-7PM </li><li>Friday 1-9PM </li><li>Saturday 1-8PM </li><li>Sunday 1-8PM </li></ul>"
      style="background-color: green"
    >
      Click For Hours
    </button>
  </div>
  <div>&lt;Social Media&gt;</div>
</footer>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="./review.js"></script>